<div class="nav-container">
  <nav class="navbar">
    <img src="../../../assets/logo.png" alt="instagram logo" class="logo" />
    <div class="search-input-wrapper">
      <i class="fas fa-search search-icon"></i>
      <input type="text" placeholder="Search" class="search-input" />
    </div>
    <div class="nav-icons">
      <i class="fas fa-home"></i>
      <i class="fas fa-paper-plane"></i>
      <i class="fas fa-compass"></i>
      <i class="far fa-heart"></i>
      <i class="fas fa-circle nav-icon-blue"></i>
    </div>
  </nav>
</div>
