<div>
  <section class="profile-container">
    <div class="avatar-wrapper">
      <img src="https://unsplash.it/200/200" alt="avatar" class="avatar" />
    </div>
    <div class="profile-showcase">
      <div class="profile-title-wrapper">
        <strong class="profile-name">name</strong>
        <button class="blue-btn">Follow</button>
        <button class="blue-btn-sm">
          <i class="fas fa-sort-down"></i>
        </button>
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <div class="stats-section">
        <span><strong>79</strong> posts</span>
        <span><strong>379</strong> followers</span>
        <span><strong>179</strong> following</span>
      </div>
      <div class="profile-info">
        <h3>Name</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text.
        </p>
        <strong><a href="bit.ly/35Ce3mX">bit.ly/35Ce3mX</a></strong>
      </div>
    </div>
  </section>
  <section class="container stories">
    <div>
      <img
        src="https://unsplash.it/200/201"
        alt="story thumbnail"
        class="story-thumbnail"
      />
      <h4>Name</h4>
    </div>
    <div>
      <img
        src="https://unsplash.it/201/200"
        alt="story thumbnail"
        class="story-thumbnail"
      />
      <h4>Name</h4>
    </div>
    <div>
      <img
        src="https://unsplash.it/200/200"
        alt="story thumbnail"
        class="story-thumbnail"
      />
      <h4>Name</h4>
    </div>
  </section>
  <div class="container">
    <hr />
  </div>
</div>
